{% set slider = TimberPost(content.slider) %}
{% set slides = slider.get_field("slides") %}

<div class="teaser-slider">
    {% for slide in slides %} 
        {% if slide.type == "article" %}
            {% set article = TimberPost(slide.article) %}
            {% set meta = article.meta %}
            {% set image = meta.featured_image %}
            <div class="teaser-slider__slide {{ slide.type}} carousel-cell container">
                <div class="teaser-slider__image">
                    {% include 'partial/image_fit.twig' %}
                </div>
                <div class="teaser-slider__content">
                    <div class="teaser-slider__kicker"><strong>Wald &amp; Wissen</strong> - {{ article.category }}</div>
                    <h2 class="teaser-slider__title">{{ meta.title }}</h2>
                    <div class="teaser-slider__text">{{ meta.intro }}</div>
                    <a class="teaser-slider__link" href="{{ article.link }}"><span class="arrow"></span>weiterlesen</a>
                </div>
            </div>
        {% elseif slide.type == "tour" %}
            {% set tour = TimberPost(slide.tour) %}
            {% set meta = tour.meta %}
            {% set image = meta.featured_image %}
            {% set infos = tour.get_field('tour_meta') %}
            <div class="teaser-slider__slide {{ slide.type}} carousel-cell container">
                <div class="teaser-slider__image">
                    {% include 'partial/image_fit.twig' %}
                </div>
                <div class="teaser-slider__content">
                    <div class="teaser-slider__kicker">{{ slide.tour_label }}</div>
                    <h2 class="teaser-slider__title">{{ meta.title }}</h2>
                    <div class="teaser-slider__infos">
                        <div class="row">
                            <div class="col-12"><strong>Schwierigkeit: </strong>{{ infos.difficulty }}</div>
                            <div class="col-4"><i class="fas fa-arrows-alt-h"></i><span class="teaser-slider__info">{{ infos.length }} km</div>
                            <div class="col-5"><i class="fas fa-angle-up"></i><span class="teaser-slider__info">{{ infos.high_point }} m</div>
                            <div class="col-4"></i><i class="far fa-clock"></i><span class="teaser-slider__info">{{ infos.time }} h</div>
                            <div class="col-5"><i class="fas fa-angle-down"></i><span class="teaser-slider__info">{{ infos.low_point }} m</div>
                        </div>
                    </div>
                    <a class="teaser-slider__link" href="{{ tour.link }}"><span class="arrow"></span>Infos zur Strecke</a>
                </div>
            </div>
        {% else %}
            {% set image = slide.image %}
            <div class="teaser-slider__slide {{ slide.type}} carousel-cell container">
                <div class="teaser-slider__image">
                    {% include 'partial/image_fit.twig' %}
                </div>
                <div class="teaser-slider__content">
                    <h2 class="teaser-slider__title">{{ slide.title }}</h2>
                    <div class="teaser-slider__text">{{ slide.text }}</div>
                    {% if slide.link_type == "overlay" %}
                        {% set overlay = TimberPost(slide.overlay) %}
                        <a class="teaser-slider__button" data-toggle="modal" data-target="#modal-{{ overlay.id }}"><div class="plus"><i class="plus__icon"></i></div> {{ slide.label }}</a>
                    {% else %}
                        {% set link = slide.link %}
                        <a class="teaser-slider__button" href="{{ link.url }}" target="{{ link.target }}"><span class="arrow"></span>{{ link.title }}</a>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>

{% for slide in slides %} 
    {% if slide.link_type == "overlay" %}
        {% set overlay = TimberPost(slide.overlay) %}
        {% include 'partial/modal.twig' with { overlay:overlay, id:overlay.id } %}
    {% endif %}
{% endfor %}