{# This file demonstrates using most of the index.twig template and modifying 
   just a small part. See `search.twig` for an example of another approach #}

{% extends "base.twig" %}

{% block content %}
	
	<section class="header-slider">
		{% for slide in post.get_field('slides') %}
			{% set article = TimberPost(slide.article) %}
            {% set meta = article.meta %}
			<div class="header-slider__slide carousel-cell">
				<div class="header-slider__image-wrapper">
					<div class="header-slider__image">
						{% include 'partial/image_fit.twig' with { 'image':meta.featured_image, 'masked': true, img_type: 'medium' } %}
					</div>
				</div>
				<div class="header-slider__wrapper container">
					<div class="row">
						<div class="col-10 col-lg-5 offset-1">
							<div class="header-slider__kicker">
								{{ article.category }}
							</div>
							<h1 class="header-slider__title">
								{{ meta.title }}
							</h1>
						</div>
					</div>
					<div class="row">
						<div class="col-10 col-lg-4 offset-1 offset-lg-2">
							<div class="header-slider__text">
								{{ meta.intro }}
							</div>
							<a href="{{ article.link }}" class="header-slider__link"><span class="arrow"></span>weiterlesen</a>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</section>

	<section class="{{post.post_type}}__content">
		{% set post_content = post.get_field('content') %}
		{% include "layouts/content.twig" %}
	</section>

	<div class="container">
		{% include "partial/post-filter.twig" with { filter_posts: articles } %}
	</div>

	<div class="container">
		<div id="post-masonry" class="post-masonry row">
			{% for post in articles %}
				{% include ['tease-article.twig'] %}
			{% endfor %}
		</div>
	</div>
	
	{% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}

{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script type="deferjs" src="{{ site.theme.link }}/dist/page.min.js"></script> 
    <script type="deferjs" src="{{ site.theme.link }}/dist/archive.min.js"></script> 
    <script type="deferjs" src="{{ site.theme.link }}/dist/archive-article.min.js"></script> 
{% endblock %}