{% extends "page.twig" %}

{% block content %}
	<article class="{{post.post_type}}" id="post-{{post.ID}}">
        <section class="{{post.post_type}}__header">
            {% include "partial/hero-alternate.twig" with { 'meta': post.meta } %}
        </section>

        <section class="map">
            <div class="container">
                <div id="map_canvas" class="oax-top-cont map__wrapper"></div>
            </div>
        </section>

        <section class="{{post.post_type}}__content">
            {% set post_content = post.get_field('content') %}
            {% include "layouts/content.twig" %}
        </section>
        
        {% include "partial/related_articles.twig" %}
    </article>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script type="deferjs">
        const documentHead = document.head;

        // load outdooractive javascript API
        let element = document.createElement('script');

        element.setAttribute('type', 'text/javascript');
        {# element.setAttribute('src',  "https://www.outdooractive.com/alpportal/oa_head.js?proj=api-dev-oa&key=yourtest-outdoora-ctiveapi&callback=initOA&lang=de"); #}
        element.setAttribute('src',  "http://www.outdooractive.com/alpportal/oa_head.js?proj=api-fv-thueringer-urwaldpfade&key=ISJMRUV9-EMWGKNCR-4OSSF7HO&callback=initOA&lang=de");
        documentHead.appendChild(element);

        function initOA() {
            var conf = {
                frontendtype:   "tour",          // choose content type
                zoom:           11,              // set initial zoom level
                initDataPointList : { searchNearby : { radius : 25000 } },
                center:       [ 10.438, 51.102 ], // set initial map center
                actionOpenType : "page-load",
                openOOIUrl : function(data) {
                    var base_url = window.location.origin;
                    return base_url + "/routen/" + data.title;
                },
            };

            var fvp = oa.api.flexviewpage( conf );
        }

    </script>
{% endblock %}