<header class="header header--show">
    {% block header %}
        <div class="header__wrapper container">
            {% set logo = options.logo %}
            <h1 class="header__logo-container" role="banner">
                <a class="header__logo-link" href="{{site.url}}" rel="home">
                    {% set logo = TimberImage(options.logo) %}
                    <img class="header__logo-image lozad" src="{{ logo.src }}" alt="{{ logo.alt }}" />
                    {% set logo = TimberImage(options.logo_inverted) %}
                    <img class="header__logo-inverse-image lozad" src="{{ logo.src }}" alt="{{ logo.alt }}" />
                </a>
            </h1>
            <nav id="nav-main" role="navigation">
                <ul class="nav-main">
                    {% for item in main_menu.get_items %}
                        <li class="nav-main__item {{ item.classes | join(' ') }}" id="nav-item-{{ loop.index }}">
                            <a class="nav-main__link" target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
                            {# {% include "menu.twig" with {'menu': item.children, 'class': 'submenu'} %} #}
                        </li>
                    {% endfor %}
                </ul>
            </nav><!-- #nav -->
            <div class="hamburger">
                <div class="hamburger__box">
                    <div class="hamburger__inner"></div>
                </div>
            </div>
        </div>
        {% for item in main_menu.get_items %}
            {% if item.children %}
                <div class="header__submenu container nav-item-{{ loop.index }}">
                    <div class="row">
                        <div class="col-lg-3 offset-3">
                            Planen Sie Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore e
                        </div>
                        <div class="col-lg-3">
                            {% include "menu.twig" with {'menu': item.children, 'class': 'nav-sub'} %}
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        <div class="header__submenu container nav-item-hamburger">
            <div class="row">
                <div class="col-lg-3 offset-3">
                    <div class="search">
                        <div class="search__title">Suche</div>
                        <input type="text" class="search__input" placeholder="Suchbegriff"><div class="search__icon"><i class="fas fa-search"></i></div>
                    </div>
                </div>
                <div class="col-lg-3">
                    {% include "menu.twig" with {'menu': meta_menu.get_items, 'class': 'nav-sub'} %}
                </div>
                <div class="col-lg-3">
                    {% include "menu.twig" with {'menu': legal_menu.get_items, 'class': 'nav-sub'} %}
                </div>
            </div>
        </div>
    {% endblock %}
</header>