{% block header %}
    <header class="header header--show">
        <div class="header__wrapper container">
            {% set logo = options.logo %}
            <h1 class="header-logo__container" role="banner">
                <a class="header-logo__link" href="{{site.url}}" rel="home">
                    {% set image = TimberImage(logo.image) %}
                    <img class="header-logo__image lozad" src="{{ image.src }}" alt="{{ image.alt }}" />
                    <div class="header-logo__svg">
                        {% include "partial/typography_svg.twig" %}
                    </div>
                </a>
            </h1>
            <nav id="nav-main" role="navigation">
                <ul class="nav-main">
                    {% for item in main_menu.get_items %}
                        <li class="nav-main__item {{ item.classes | join(' ') }}" id="nav-item-{{ loop.index }}">
                            <a class="nav-main__link" target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </nav><!-- #nav -->
            <div class="hamburger menu-item-has-children" id="nav-item-hamburger">
                <div class="hamburger__box nav-main__link" >
                    <div class="hamburger__inner"></div>
                </div>
            </div>
        </div>
        {% for item in main_menu.get_items %}
            {% if item.children %}
                <div class="header__submenu container nav-item-{{ loop.index }}">
                    <div class="row">
                        <div class="col-lg-3 offset-3">
                            {{ item.description }}
                        </div>
                        <div class="col-lg-3">
                            {% include "menu.twig" with {'menu': item.children, 'class': 'nav-sub'} %}
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        <div class="header__submenu container nav-item-hamburger">
            <div class="row">
                <form class="col-lg-3 offset-3" role="search" method="get" action="{{ site.url }}" class="search">
                    <div class="row">
                        <div class="col-9">
                            <input id="search2" name="s" class="search__input" type="text" value="{{ function('get_search_query') }}"
                                autocomplete="off" placeholder="Suchbegriff"/>
                        </div>
                        <div class="col-3">
                            <button id="submit-search" class="search__submit" type="submit" value=""><div class="search__icon"><i class="fas fa-search"></i></div></button>
                        </div>
                    </div>
                </form>
                <div class="col-lg-3">
                    {% include "menu.twig" with {'menu': meta_menu.get_items, 'class': 'nav-sub'} %}
                </div>
                <div class="col-lg-3">
                    {% include "menu.twig" with {'menu': legal_menu.get_items, 'class': 'nav-sub'} %}
                </div>
            </div>
        </div>
    </header>
    {% include "partial/mobile-navigation.twig" %}
{% endblock %}