{% extends "base.twig" %}

{% block content %}
    <article class="{{post.post_type}}" id="post-{{post.ID}}">
        <section class="{{post.post_type}}__header">
            {% set meta = post.meta %}
            <div class="hero hero--home">
                <div class="hero__image">
                    {% include "partial/image_fit.twig" with { 'image': meta.featured_image, 'masked': true } %}
                    <div class="hero__wrapper">
                        <h1 class="hero__title">{{ meta.title }}</h1>
                        <div class="hero__intro copy-intro">{{ meta.intro }}</div>
                    </div>
                </div>
            </div>
        </section>
        <section class="{{post.post_type}}__content">
            {% set post_content = post.get_field('content') %}
            {% include "layouts/content.twig" %}
        </section>
        {% include "partial/related_articles.twig" %}
    </article>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="{{ site.theme.link }}/dist/page.min.js"></script> 
{% endblock %}