{% extends "base.twig" %}

{% block content %}
    <article class="{{post.post_type}}" id="post-{{post.ID}}">
        <section class="{{post.post_type}}__header">
            {% set image = post.meta_featured_image %}
            <div class="hero hero--home">
                <div class="hero__image" style="height:100vh">
                    {% include "partial/image_fit.twig" with { 'masked': true } %}
                </div>
                <div class="hero__title"></div>
                <div class="hero__intro"></div>
            </div>
        </section>
        <section class="{{post.post_type}}__content">
            {{post.content}}
        </section>
    </article>
{% endblock %}