{% extends "base.twig" %}

{% block content %}
    <article class="{{post.post_type}}" id="post-{{post.ID}}">
        <section class="{{post.post_type}}__header">
            {% set meta = post.meta %}
            <div class="homepage-hero">
                {% if post.homepage_video %}
                    <div class="hero-video__decoration"></div>
                    <div class="homepage-hero__video hero-video">
                        {% set image = TimberImage(meta.featured_image) %}
                        <div class="background-wrapper" style="background: transparent url({{ image.src }}) 50% 50% / cover no-repeat;">
                            <iframe class="video fade" src="about:blank" data-src="https://player.vimeo.com/video/{{ post.homepage_video }}?background=1?" frameborder="0" webkitallowfullscreen allowfullscreen></iframe>
                        </div>
                    </div>
                {% else %}
                    <div class="homepage-hero__image">
                        {% include "partial/image_fit.twig" with { 'image': meta.featured_image, 'masked': true } %}
                    </div>
                {% endif %}
                <div class="homepage-hero__wrapper">
                    <h1 class="homepage-hero__title">{{ meta.title }}</h1>   
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-lg-4">
                            <div class="homepage-hero__intro copy-intro">{{ meta.intro }}</div>
                            <div class="homepage-hero__feature">
                                {% include "layouts/content_meta_featured.twig" %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="{{post.post_type}}__content">
            {% set post_content = post.get_field('content') %}
            {% include "layouts/content.twig" %}
        </section>
        {% include "partial/related_articles.twig" %}
    </article>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script type="deferjs" src="{{ site.theme.link }}/dist/page.min.js"></script>
    <script type="text/javascript">
        deferiframe('iframe.video', 500, 'lazied', function(frame) {
            frame.onload = function() {
                frame.className+=' show';
            }
        });
    </script>
{% endblock %}