{% set meta = post.meta %}
{% set categories = [] %}
{% for category in post.categories %}
    {% set categories = categories|merge([category.slug]) %}
{% endfor %}
{% if post.get_field('content') %}
	{% set post_content = true %}
{% endif %}

<article class="tease tease-{{post.post_type}} {% if 'warnhinweis' in categories %}tease--warning{% endif %} col-12 col-sm-6 col-lg-4" id="tease-{{post.ID}}" data-groups="["{{post.category}}"]" data-date-created="{{ post.date }}" data-title="{{ meta.title }}">
	{% block content %}
		{% if meta.featured_image %}
			<div class="tease__image">
				{% include "partial/image_fit.twig" with { 'image': meta.featured_image } %}
			</div>
		{% endif %}
		<div class="tease__wrapper">
			<p class="tease__kicker">{{ post.date }} - {{post.category}}</p>
			<h3 class="tease__title"><a href="{{post.link}}">{{ meta.title }}</a></h3>
			<p class="tease__intro">{{ meta.intro }}</p>
			{% if post_content %}
				<a class="tease__link" href="{{ post.link }}"><span class="arrow"></span>weiterlesen</a>
			{% endif %}
		</div>
	{% endblock %}
</article>
