{% if post.show_related %}
    <section class="related-articles">
        <div class="related-articles__title">
            {{ post.related_title }}
        </div>
        <div class="container">
            <div class="row">
                {% set related_articles = post.get_field('related_articles') %}
                {% for related in related_articles %}
                    <div class="related-article col-12 col-lg-{{ 12 / loop.length }} {% if loop.length == 1 %}related-article--large{% endif %}">

                        {% set related_article = TimberPost(related.article) %}
                        {% set article_meta = related_article.get_field('meta') %}
                        <div class="related-article__image">
                            {% include "partial/image_fit.twig" with { 'image': article_meta.featured_image } %}
                            <div class="related-article__wrapper">
                                <div class="related-article__kicker">{{ related_article.category }}</div>
                                <h3 class="related-article__title">{{ article_meta.title }}</h3>
                            </div>
                        </div>
                        <div class="related-article__text">
                            {{ article_meta.intro }}
                        </div>
                        <a class="related-article__link" href="{{ related_article.link }}"><span class="arrow"></span>weiterlesen</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endif %}